<!doctype html>
<html lang="{{ page.pagelang | default: "ru" }}">
  <head>
    {% if page.redir_js %}
    <script>{{ page.redir_js }}</script>
    {% endif %}
    <meta charset="utf-8">
{% seo %}
    <link rel="icon" type="image/png" href="favicon128.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>

      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.pagedescription }}</p>
      </header>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}

      </section>
    </div>
  </body>
</html>
